<div>
    <h1>
        Datos para el producto:
    </h1>
    <form>
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="description" id="description" placeholder="Description">
        <input type="number" name="price" id="price" placeholder="Price">
        <input type="text" name="thumbnail" id="thumbnails" placeholder="Thumbnail">
        <input type="text" name="code" id="code" placeholder="Code">
        <input type="number" name="stock" id="stock" placeholder="Stock">
        <input type="submit" value="Send">
    </form>
    <h2>Lista de productos:</h2>
    <div id="products"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</div>